<footer>
    <div id="creativecommon"">
            <a rel=" license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
            style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work is
        licensed
        under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
            International License</a>.
    </div>
    <div>
        <a href="https://gitlab.com/texttoconvert">
            <img id="gitlab" src="/TextToConvert-Documentation/style/gitlab-logo-white-rgb.svg" />
        </a>
    </div>
</footer>