/*
  <link rel="stylesheet" type="text/css" href="../style/main.css" /> */
  html {
    font-family: Helvetica, Arial, sans-serif;
    height:100%;
}

body {
    background-color: rgb(240,240,240);
    display: grid;
    grid-template-areas:
        "header header header"
        "navbar main sidebar"
        "footer footer footer";
    grid-template-columns: 25% 60% 15%;
	grid-template-rows: auto 1fr auto;
    min-height: 100%;
    margin: 0;
}

a {
    color: rgb(128,0,64);
    text-decoration: none;
}

a:hover {
    color: rgb(51,0,26);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 50, 0);
    font-size: 1.1em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

/* HEADER */
header {
    grid-area: header;
    text-align: center;
}

header h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/*  NAVBAR */
nav {
    border-right: 1px solid rgb(140,190,140);
    background-color: rgb(220,250,220);
    grid-area: navbar;
}

nav h1, nav h2 {
    font-size: 1em;
    padding: 0.5em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav li p {
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    padding: 0.5em;
    background-color: rgb(150,220,150);
}

nav li a:hover {
    text-decoration: none;
    background-color: rgb(90,150,90);
}

/* MAIN */

#main {
    background-color: rgb(250,250,250);
    grid-area: main;
    padding: 1em;
    text-align: justify;
}

/* FOOTER */
footer {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    font-size: small;
    color: rgb(61,153,113);
    grid-area: footer;
    padding: 0.25em;
    background-color: rgb(0,50,0);
}

footer img {
    margin:0;
    padding:0;
}

footer #gitlab {
    height: 2.5em;
}

div.sourceCode {
    background-color: lightgray;
    padding-left: 10px;
}